/* CSS Document */
.elementsPad{
    position: absolute;
    top: 80px;
    left: 20px;
    padding: 15px;
    width: 120px;
    background-color: #F2F2F2;
    text-align: center;
}

.elementsPadHead{
    font-size: 18px;
    text-align: center; 
}

.elementsButton{
    width: 86px;
}
